<div class="usr-info-heading">
  Password management
</div>
<br/>
<div class="password_info_block">
  <div class="row-fluid">
    <%= f.label :password %>
    <div class="clearboth"></div>
    <%= f.password_field :password, class: "span6" %>
  </div>
  <div class="clearboth"></div>
  <div class="row-fluid">
    <%= f.label :password_confirmation %>
    <div class="clearboth"></div>
    <%= f.password_field :password_confirmation, class: "span6" %>
  </div>
  <div class="clearboth"></div>
  <div class="row-fluid">
    <%= f.label :current_password %>
    <div class="clearboth"></div>
    <%= f.password_field :current_password, class: "span6" %>
  </div>
</div>
<div class="clearboth"></div>
