<%= nested_form_for @poll do |f| %>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label"></label>
    <div class="col-sm-9">
      <%= f.check_box :has_multiple_answer, :style => "margin-top: -2px;" %>
      &nbsp;&nbsp;&nbsp;<span>Has multiple answer</span>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label">Answers</label>
    <div class="col-sm-9">
      <%= f.fields_for :answers do |builder| %>
        <%= render "polls/answer", :f => builder %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label"></label>
    <div class="col-sm-9">
      <%= f.link_to_add "+ Add more answer", :answers %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label"></label>
    <div class="col-sm-9">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  <div class="clear"></div>
<% end %>
