<div class="page-head">
  <h2>Listing responses</h2>
</div>
<div class="cl-mcont">
  <div class="block-flat">
    <div class="content">
      <table >
        <thead>
          <tr>
            <th><strong>Polls</strong></th>
            <th class="action"><strong>Action</strong></th>
          </tr>
        </thead>
        <tbody>
          <% if @polls.present? %>
            <% @polls.uniq.each do |poll| %>
              <tr>
                <td><%= poll.title %></br>
                <a href="#collapse-<%= poll.id %>" data-parent="#accordion" data-toggle="collapse" class="collapsed"
                  aria-expanded="false">
                  responses(<%= poll.responses.size %>)
                </a>
                <div class="collapse"  id="collapse-<%= poll.id %>"  area-expanded="false">
                  <% poll_response = poll_response_with_option(poll) %>
                  <% poll_response && poll_response.each do | presponse | %>
                    <%= presponse.answer.answer %>&nbsp;-&nbsp;<%= presponse.count %><br/>
                  <% end %>
                </div>
              </td>
                <td>
                  <%= link_to 'Show', poll, class: "btn btn-primary" %>
                  <%= link_to 'Edit', edit_poll_path(poll), class: "btn btn-primary" %>
                  <%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5"><center>There is no clients available.</center></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Response', new_response_path %>
    </div>
  </div>
</div>
