<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Evoting" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag :cache => true %>
  </head>
  <body>
    <%= render partial: "layouts/admin_navbar" %>
    <div class="clear:both;"></div>
    <div class="container home-container">
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
    <footer class="footer">
      <center><p>Hayden Dolphins Swim Team &copy; 2013</p></center>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
