<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Evoting" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body style="opacity: 1; margin-left: 0px;">
    <%= render partial: "layouts/navbar" %>
    <div id="cl-wrapper">
      <div class="container-fluid" id="pcont">
        <div class="cl-mcont">
           <%= yield %>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        App.init();
      });
    </script>
  </body>
</html>
